In [17]:
# Import Dependencies

import json
import numpy as np
import pandas as pd
import matplotlib as plt
import requests
import time
from config import api_key

total_pop = "B01001_001E"

## Age Group Codes
Males age 18 to 19 = B01001_007E
Males age 20 = B01001_008E
Males age 21 = B01001_009E
Males age 22 to 24 = B01001_010E
Males age 25 to 29 = B01001_011E
Males age 30 to 34 = B01001_012E
Males age 35 to 39 = B01001_013E

Females age 18 to 19 = B01001_031E
Females age 20 = B01001_032E
Females age 21 = B01001_033E
Females age 22 to 24 = B01001_034E
Females age 25 to 29 = B01001_035E
Females age 30 to 34 = B01001_036E
Females age 35 to 39 = B01001_037E

## Ethnicity Group Codes
White = B02001_002E
Black = B02001_003E
Latino = B03001_001E
Native Indian = B02001_004E
Asian = B02001_005E
Pacific Islander = B02001_006E
Other = B02001_007E

## Income Level
income_pop = B25095_001E
Less than $10,000 = B25095_002E
$10,000 to $19,999 = B25095_011E
$20,000 to $34,999 = B25095_020E
$35,000 to $49,999 = B25095_029E
$50,000 to $74,999 = B25095_038E
$75,000 to $99,999 = B25095_047E
$100,000 to $149,999 = B25095_056E
$150,000 or more = B25095_065E

## Education Level
edu_pop = B23006_001E
Less than high school graduate = B23006_002E
High school graduate = B23006_009E
Some college or associates = B23006_016E
Bachelor's or higher = B23006_023E

In [13]:
# Build query URL for exploring Census API

# Base URL
url = "https://api.census.gov/data/2016/acs/acs5?get=NAME"

# API Key call, note this should always be at the end of the URL
key = "&key=" + api_key

# Call for states, note that the State's designated number should follow the colon
state = "&in=state:"

# Call for individual counties, note that you must make the county call with the state call, it cannot be called
# by itself. Also, the county number should follow the colon
county = "&for=county:"

# Places API Call, which allows for specific cities to be referred to. Requires the "state" call to be made as well,
# otherwise it might return an error.

city = "&for=place:"

# Metropolitan API call

metro = "&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:"

# ZIP code ZCTA API call

zip_code = "&for=zip%20code%20tabulation%20area:"

# Basic query url structure should look like this (Note that the "*" is used to call all values, so all states
# and cities within that state)
query_url = url + city + "04000" + state + "13" + key

# Json request
request = requests.get(query_url).json()

# Display result of request
request

[['NAME',
  'B01001_001E',
  'B01001_007E',
  'B01001_008E',
  'B01001_009E',
  'B01001_010E',
  'B01001_011E',
  'B01001_012E',
  'B01001_013E',
  'state',
  'place'],
 ['Atlanta city, Georgia',
  '456378',
  '9169',
  '5005',
  '4773',
  '13108',
  '23756',
  '21945',
  '17461',
  '13',
  '04000']]

In [15]:
# Dictionary with state names as keys and the values being the corresponding code in the Census API
state_dict = {"Georgia":"13","Washington":"53","Florida":"12","New York":"36","California":"06","New Jersey":"34",\
               "Oregon":"41","Minnesota":"27","Kansas":"20","Massachusetts":"25","Utah":"49","Washington D.C.":"11",\
               "Texas":"48","Illinois":"17","Pennsylvania":"42","Ohio":"39","Colorado":"08"}

# Dictionary with city names as keys and the values being the corresponding code in the Census API
city_dict = {"Atlanta":"04000", "Seattle":"63000", "Orlando":"53000", "New York":"51000", "Carson":"11530",\
              "Harrison":"51000", "Portland":"59000", "Minneapolis":"43000", "San Jose":"68000", "Kansas City":"36000",\
              "Foxborough":"07000", "Sandy":"67440", "Washington D.C.":"50000", "Houston":"35000",\
              "Bridgeview":"14000", "Chester":"60000", "Columbus":"18000", "Commerce City":"20000", "Frisco":"27684"}

# List containing each state code in corresponding order for use in API call iteration
state_codes = ["13","53","12","36","06","34","41","27","06","20","25","49","11","48","17","42","39","08","48"]

# List containing each city code in corresponding order for use in API call iteration
city_codes = ["04000","63000","53000","51000","11530","51000","59000","43000","68000","36000","07000","67440","50000",\
             "35000","14000","60000","18000","20000","27684"]

In [18]:
# API request iteration format

data_list = []

counter = 1

for num in range(19):
    
    # Query URL construction that pulls from the city & state codes lists
    query_url = url + city + city_codes[num] + state + state_codes[num] + key
    
    request = requests.get(query_url).json()
    
    data_list.append(request[1])
    
    print(f"#{counter}: {request}")
    
    counter += 1
    
    time.sleep(1)

#1: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Atlanta city, Georgia', '456378', '9169', '5005', '4773', '13108', '23756', '21945', '17461', '13', '04000']]
#2: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Seattle city, Washington', '668849', '8179', '4430', '5272', '17440', '40443', '35916', '28537', '53', '63000']]
#3: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Orlando city, Florida', '263306', '2944', '2038', '1587', '6476', '14878', '11869', '10537', '12', '53000']]
#4: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['New York city, New York', '8461961', '97085', '59294', '56678', '187099', '377411', '348731', '295361', '36', '51000']]
#5: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Carson city, California', '92780', '1040', '558', '1040', '2042', '3690', '2900', '3116', '06', '11530']]
#6: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Newark city, New Jersey', '280139', '4514', '2401', '2581', '7264', '12471', '11166', '10384', '34', '51000']]
#7: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Portland city, Oregon', '620589', '6057', '3579', '3206', '13026', '29395', '31251', '28129', '41', '59000']]
#8: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Minneapolis city, Minnesota', '404670', '7382', '3335', '4156', '12976', '25468', '20651', '15379', '27', '43000']]
#9: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['San Jose city, California', '1009363', '12199', '6895', '7113', '22557', '41424', '40899', '38067', '06', '68000']]
#10: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Kansas City city, Kansas', '149755', '1880', '1016', '969', '3007', '5536', '5746', '5268', '20', '36000']]
#11: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Boston city, Massachusetts', '658279', '14124', '8012', '7942', '20013', '43808', '31619', '20740', '25', '07000']]
#12: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Sandy city, Utah', '93141', '882', '343', '615', '1914', '3204', '2869', '3428', '49', '67440']]
#13: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Washington city, District of Columbia', '659009', '10131', '5632', '5994', '15518', '36030', '34033', '24647', '11', '50000']]
#14: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Houston city, Texas', '2240582', '27906', '16389', '16695', '57053', '108561', '100878', '84822', '48', '35000']]
#15: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Chicago city, Illinois', '2714017', '34831', '19243', '19965', '65254', '134522', '124077', '102245', '17', '14000']]
#16: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Philadelphia city, Pennsylvania', '1559938', '23414', '14043', '12436', '37451', '74681', '60861', '48582', '42', '60000']]
#17: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Columbus city, Ohio', '837038', '13369', '7415', '7155', '22313', '47254', '37785', '30092', '39', '18000']]
#18: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Denver city, Colorado', '663303', '6798', '3935', '3797', '13676', '37501', '36649', '28362', '08', '20000']]
#19: [['NAME', 'B01001_001E', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_013E', 'state', 'place'], ['Frisco city, Texas', '145646', '1534', '510', '604', '1547', '2503', '4630', '6307', '48', '27684']]