In [38]:
# Import Dependencies

import json
import numpy as np
import pandas as pd
import matplotlib as plt
import requests
import time
from config import api_key

In [ ]:
#total_pop = "B01001_001E"

## Age Group Codes
#Males age 18 to 19 = B01001_007E
#Males age 20 = B01001_008E
#Males age 21 = B01001_009E
#Males age 22 to 24 = B01001_010E
#Males age 25 to 29 = B01001_011E
#Males age 30 to 34 = B01001_012E
#Males age 35 to 39 = B01001_013E
#Males age 40 to 44 = B01001_014E

#Females age 18 to 19 = B01001_031E
#Females age 20 = B01001_032E
#Females age 21 = B01001_033E
#Females age 22 to 24 = B01001_034E
#Females age 25 to 29 = B01001_035E
#Females age 30 to 34 = B01001_036E
#Females age 35 to 39 = B01001_037E
#Females age 40 to 44 = B01001_038E

## Ethnicity Group Codes
#White = B02001_002E
#Black = B02001_003E
#Latino = B03001_003E
#Native Indian = B02001_004E
#Asian = B02001_005E
#Pacific Islander = B02001_006E
#Other = B02001_007E

## NEW Income Level
#income_pop = B25121_001E
#Less than $10,000 = B25121_002E
#$10,000 to $19,999 = B25121_017E
#$20,000 to $34,999 = B25121_032E
#$35,000 to $49,999 = B25121_047E
#$50,000 to $74,999 = B25121_062E
#$75,000 to $99,999 = B25121_077E
#$100,000 or more = B25121_092E

## Income Level
#income_pop = B25095_001E
#Less than $10,000 = B25095_002E
#$10,000 to $19,999 = B25095_011E
#$20,000 to $34,999 = B25095_020E
#$35,000 to $49,999 = B25095_029E
#$50,000 to $74,999 = B25095_038E
#$75,000 to $99,999 = B25095_047E
#$100,000 to $149,999 = B25095_056E
#$150,000 or more = B25095_065E

## Education Level
#edu_pop = B23006_001E
#Less than high school graduate = B23006_002E
#High school graduate = B23006_009E
#Some college or associates = B23006_016E
#Bachelor's or higher = B23006_023E

In [39]:
# Build query URL for exploring Census API

# Base URL
url = "https://api.census.gov/data/2016/acs/acs5?get=NAME"

# API Key call, note this should always be at the end of the URL
key = "&key=" + api_key

# Call for states, note that the State's designated number should follow the colon
state = "&in=state:"

# Call for individual counties, note that you must make the county call with the state call, it cannot be called
# by itself. Also, the county number should follow the colon
county = "&for=county:"

# Places API Call, which allows for specific cities to be referred to. Requires the "state" call to be made as well,
# otherwise it might return an error.

city = "&for=place:"

# Metropolitan API call

metro = "&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:"

# ZIP code ZCTA API call

zip_code = "&for=zip%20code%20tabulation%20area:"

# Basic query url structure should look like this (Note that the "*" is used to call all values, so all states
# and cities within that state)
query_url = url + city + "04000" + state + "13" + key

# Json request
request = requests.get(query_url).json()

# Display result of request
request

[['NAME', 'state', 'place'], ['Atlanta city, Georgia', '13', '04000']]

In [40]:
# URLs with codes built in to make appropriate calls

# Base URL

base_url = "https://api.census.gov/data/"

# Age URL
age_url = "/acs/acs5?get=NAME,B01001_001E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,"\
        +"B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,"\
        + "B01001_036E,B01001_037E,B01001_038E"

# Ethnicity URL
ethnicity_url = "/acs/acs5?get=NAME,B01001_001E,B02001_002E,B02001_003E,B03001_003E,B02001_005E"

# Income URL
income_url = "/acs/acs5?get=NAME,B25121_001E,B25121_002E,B25121_017E,B25121_032E,B25121_047E,B25121_062E,B25121_077E,"\
        +"B25121_092E"

# Education URL
edu_url = "/acs/acs5?get=NAME,B23006_001E,B23006_002E,B23006_009E,B23006_016E,B23006_023E"

# List of URLs for iteration in API

year_list = ["2012","2013","2014","2015","2016"]
url_list = [age_url,ethnicity_url,income_url,edu_url]

In [41]:
# Dictionary with state names as keys and the values being the corresponding code in the Census API
state_dict = {"Georgia":"13","Washington":"53","Florida":"12","New York":"36","California":"06","New Jersey":"34",\
               "Oregon":"41","Minnesota":"27","Kansas":"20","Massachusetts":"25","Utah":"49","Washington D.C.":"11",\
               "Texas":"48","Illinois":"17","Pennsylvania":"42","Ohio":"39","Colorado":"08"}

# Dictionary with city names as keys and the values being the corresponding code in the Census API
city_dict = {"Atlanta":"04000", "Seattle":"63000", "Orlando":"53000", "New York":"51000", "Carson":"11530",\
              "Harrison":"51000", "Portland":"59000", "Minneapolis":"43000", "San Jose":"68000", "Kansas City":"36000",\
              "Foxborough":"24855", "Sandy":"67440", "Washington D.C.":"50000", "Houston":"35000",\
              "Bridgeview":"08225", "Chester":"13208", "Columbus":"18000", "Commerce City":"16495", "Frisco":"27684"}

# List containing each state code in corresponding order for use in API call iteration
state_codes = ["13","53","12","36","06","34","41","27","06","20","25","49","11","48","17","42","39","08","48"]

# List containing each city code in corresponding order for use in API call iteration
city_codes = ["04000","63000","53000","51000","11530","51000","59000","43000","68000","36000","24855","67440","50000",\
             "35000","08225","13208","18000","16495","27684"]

In [42]:
# API request iteration format (NOTE: running this cell takes time due to the time.sleep! Only run
# if you want the data itself! Running this will take at least 8 MINUTES before it finishes)

# Initialize lists to store data retrieved from the API

age_list = []
ethnicity_list = []
income_list = []
edu_list = []

counter = 1

for year in year_list:

    for num in range(19):
    
        for url in url_list:
    
            # Query URL construction that pulls from the city & state codes lists
            query_url = base_url + year + url + city + city_codes[num] + state + state_codes[num] + key
        
            try:
                request = requests.get(query_url).json()
        
                if url == age_url:
                    age_list.append(request[1])
                elif url == ethnicity_url:
                    ethnicity_list.append(request[1])
                elif url == income_url:
                    income_list.append(request[1])
                elif url == edu_url:
                    edu_list.append(request[1])
            
                time.sleep(1)
        
            except Exception:
                print(f"There was an error with this url: {query_url}")
    
        print(f"#{counter} for Year {year} has completed all calls")
    
        counter += 1
        
    counter = 1

#1 for Year 2012 has completed all calls
#2 for Year 2012 has completed all calls
#3 for Year 2012 has completed all calls
#4 for Year 2012 has completed all calls
#5 for Year 2012 has completed all calls
#6 for Year 2012 has completed all calls
#7 for Year 2012 has completed all calls
#8 for Year 2012 has completed all calls
#9 for Year 2012 has completed all calls
#10 for Year 2012 has completed all calls
#11 for Year 2012 has completed all calls
#12 for Year 2012 has completed all calls
#13 for Year 2012 has completed all calls
#14 for Year 2012 has completed all calls
#15 for Year 2012 has completed all calls
#16 for Year 2012 has completed all calls
#17 for Year 2012 has completed all calls
#18 for Year 2012 has completed all calls
#19 for Year 2012 has completed all calls
#1 for Year 2013 has completed all calls
#2 for Year 2013 has completed all calls
#3 for Year 2013 has completed all calls
#4 for Year 2013 has completed all calls
#5 for Year 2013 has completed all calls
#6 for Year 2013 has completed all calls
#7 for Year 2013 has completed all calls
#8 for Year 2013 has completed all calls
#9 for Year 2013 has completed all calls
#10 for Year 2013 has completed all calls
#11 for Year 2013 has completed all calls
#12 for Year 2013 has completed all calls
#13 for Year 2013 has completed all calls
#14 for Year 2013 has completed all calls
#15 for Year 2013 has completed all calls
#16 for Year 2013 has completed all calls
#17 for Year 2013 has completed all calls
#18 for Year 2013 has completed all calls
#19 for Year 2013 has completed all calls
#1 for Year 2014 has completed all calls
#2 for Year 2014 has completed all calls
#3 for Year 2014 has completed all calls
#4 for Year 2014 has completed all calls
#5 for Year 2014 has completed all calls
#6 for Year 2014 has completed all calls
#7 for Year 2014 has completed all calls
#8 for Year 2014 has completed all calls
#9 for Year 2014 has completed all calls
#10 for Year 2014 has completed all calls
#11 for Year 2014 has completed all calls
#12 for Year 2014 has completed all calls
#13 for Year 2014 has completed all calls
#14 for Year 2014 has completed all calls
#15 for Year 2014 has completed all calls
#16 for Year 2014 has completed all calls
#17 for Year 2014 has completed all calls
#18 for Year 2014 has completed all calls
#19 for Year 2014 has completed all calls
#1 for Year 2015 has completed all calls
#2 for Year 2015 has completed all calls
#3 for Year 2015 has completed all calls
#4 for Year 2015 has completed all calls
#5 for Year 2015 has completed all calls
#6 for Year 2015 has completed all calls
#7 for Year 2015 has completed all calls
#8 for Year 2015 has completed all calls
#9 for Year 2015 has completed all calls
#10 for Year 2015 has completed all calls
#11 for Year 2015 has completed all calls
#12 for Year 2015 has completed all calls
#13 for Year 2015 has completed all calls
#14 for Year 2015 has completed all calls
#15 for Year 2015 has completed all calls
#16 for Year 2015 has completed all calls
#17 for Year 2015 has completed all calls
#18 for Year 2015 has completed all calls
#19 for Year 2015 has completed all calls
#1 for Year 2016 has completed all calls
#2 for Year 2016 has completed all calls
#3 for Year 2016 has completed all calls
#4 for Year 2016 has completed all calls
#5 for Year 2016 has completed all calls
#6 for Year 2016 has completed all calls
#7 for Year 2016 has completed all calls
#8 for Year 2016 has completed all calls
#9 for Year 2016 has completed all calls
#10 for Year 2016 has completed all calls
#11 for Year 2016 has completed all calls
#12 for Year 2016 has completed all calls
#13 for Year 2016 has completed all calls
#14 for Year 2016 has completed all calls
#15 for Year 2016 has completed all calls
#16 for Year 2016 has completed all calls
#17 for Year 2016 has completed all calls
#18 for Year 2016 has completed all calls
#19 for Year 2016 has completed all calls

In [44]:
# Adding years to the age list
age_by_year = []

# For Loop

for num in range(95):
    
    if num <= 18:
        age_by_year.append(age_list[num])
        age_by_year[num].append("2012")
    elif num > 18 and num <= 37:
        age_by_year.append(age_list[num])
        age_by_year[num].append("2013")
    elif num > 37 and num <= 56:
        age_by_year.append(age_list[num])
        age_by_year[num].append("2014")
    elif num > 56 and num <= 75:
        age_by_year.append(age_list[num])
        age_by_year[num].append("2015")
    elif num > 75:
        age_by_year.append(age_list[num])
        age_by_year[num].append("2016")

In [45]:
# Adding years to the ethnicity list
ethnicity_by_year = []

# For Loop

for num in range(95):
    
    if num <= 18:
        ethnicity_by_year.append(ethnicity_list[num])
        ethnicity_by_year[num].append("2012")
    elif num > 18 and num <= 37:
        ethnicity_by_year.append(ethnicity_list[num])
        ethnicity_by_year[num].append("2013")
    elif num > 37 and num <= 56:
        ethnicity_by_year.append(ethnicity_list[num])
        ethnicity_by_year[num].append("2014")
    elif num > 56 and num <= 75:
        ethnicity_by_year.append(ethnicity_list[num])
        ethnicity_by_year[num].append("2015")
    elif num > 75:
        ethnicity_by_year.append(ethnicity_list[num])
        ethnicity_by_year[num].append("2016")

In [46]:
# Adding years to the income list
income_by_year = []

# For Loop

for num in range(95):
    
    if num <= 18:
        income_by_year.append(income_list[num])
        income_by_year[num].append("2012")
    elif num > 18 and num <= 37:
        income_by_year.append(income_list[num])
        income_by_year[num].append("2013")
    elif num > 37 and num <= 56:
        income_by_year.append(income_list[num])
        income_by_year[num].append("2014")
    elif num > 56 and num <= 75:
        income_by_year.append(income_list[num])
        income_by_year[num].append("2015")
    elif num > 75:
        income_by_year.append(income_list[num])
        income_by_year[num].append("2016")

In [47]:
# Adding years to the education list
edu_by_year = []

# For Loop

for num in range(95):
    
    if num <= 18:
        edu_by_year.append(edu_list[num])
        edu_by_year[num].append("2012")
    elif num > 18 and num <= 37:
        edu_by_year.append(edu_list[num])
        edu_by_year[num].append("2013")
    elif num > 37 and num <= 56:
        edu_by_year.append(edu_list[num])
        edu_by_year[num].append("2014")
    elif num > 56 and num <= 75:
        edu_by_year.append(edu_list[num])
        edu_by_year[num].append("2015")
    elif num > 75:
        edu_by_year.append(edu_list[num])
        edu_by_year[num].append("2016")

In [48]:
# Use iterative loop to convert valus into integers & sum the values in the age list,
# thus combining male and female data

age_combine = []

for num in range(95):
    
    city = age_by_year[num][0]
    pop = int(age_by_year[num][1])
    tot1819 = int(age_by_year[num][2]) + int(age_by_year[num][10])
    tot20 = int(age_by_year[num][3]) + int(age_by_year[num][11])
    tot21 = int(age_by_year[num][4]) + int(age_by_year[num][12])
    tot2224 = int(age_by_year[num][5]) + int(age_by_year[num][13])
    tot2529 = int(age_by_year[num][6]) + int(age_by_year[num][14])
    tot3034 = int(age_by_year[num][7]) + int(age_by_year[num][15])
    tot3539 = int(age_by_year[num][8]) + int(age_by_year[num][16])
    tot4044 = int(age_by_year[num][9]) + int(age_by_year[num][17])
    year = age_by_year[num][20]
    
    tot1829 = tot1819 + tot20 + tot21 + tot2224 + tot2529
    tot3044 = tot3034 + tot3539 + tot4044
    
    
    age_combine.append([city,year,pop,tot1829,tot3044])
    
age_combine

[['Atlanta city, Georgia', '2012', 425931, 107143, 101845],
 ['Seattle city, Washington', '2012', 612916, 141245, 157786],
 ['Orlando city, Florida', '2012', 240185, 57870, 56140],
 ['New York city, New York', '2012', 8199221, 1593289, 1828653],
 ['Carson city, California', '2012', 91937, 16448, 18000],
 ['Newark city, New Jersey', '2012', 276478, 56131, 64131],
 ['Portland city, Oregon', '2012', 585888, 113642, 150432],
 ['Minneapolis city, Minnesota', '2012', 385023, 101775, 88109],
 ['San Jose city, California', '2012', 954379, 163311, 224103],
 ['Kansas City city, Kansas', '2012', 145605, 25380, 28695],
 ['Foxborough CDP, Massachusetts', '2012', 5524, 954, 1292],
 ['Sandy city, Utah', '2012', 87952, 13687, 17071],
 ['Washington city, District of Columbia', '2012', 605759, 153569, 138705],
 ['Houston city, Texas', '2012', 2107449, 423559, 472953],
 ['Bridgeview village, Illinois', '2012', 16394, 2585, 2976],
 ['Chester city, Pennsylvania', '2012', 34127, 7910, 5555],
 ['Columbus city, Ohio', '2012', 790168, 189330, 175547],
 ['Commerce City city, Colorado', '2012', 45537, 7760, 11543],
 ['Frisco city, Texas', '2012', 116944, 12087, 36428],
 ['Atlanta city, Georgia', '2013', 432589, 108859, 103717],
 ['Seattle city, Washington', '2013', 624681, 142433, 161333],
 ['Orlando city, Florida', '2013', 244931, 57084, 57224],
 ['New York city, New York', '2013', 8268999, 1598046, 1844133],
 ['Carson city, California', '2013', 91994, 16791, 17196],
 ['Newark city, New Jersey', '2013', 277357, 56513, 63469],
 ['Portland city, Oregon', '2013', 594687, 113033, 155690],
 ['Minneapolis city, Minnesota', '2013', 389112, 102083, 89127],
 ['San Jose city, California', '2013', 968903, 165374, 224937],
 ['Kansas City city, Kansas', '2013', 146581, 25249, 29116],
 ['Foxborough CDP, Massachusetts', '2013', 5233, 1006, 1023],
 ['Sandy city, Utah', '2013', 88672, 14069, 17373],
 ['Washington city, District of Columbia', '2013', 619371, 156363, 145246],
 ['Houston city, Texas', '2013', 2134707, 427508, 480330],
 ['Bridgeview village, Illinois', '2013', 16457, 2625, 2873],
 ['Chester city, Pennsylvania', '2013', 34011, 8255, 5549],
 ['Columbus city, Ohio', '2013', 800594, 189281, 178623],
 ['Commerce City city, Colorado', '2013', 47239, 7212, 12083],
 ['Frisco city, Texas', '2013', 123663, 12647, 37221],
 ['Atlanta city, Georgia', '2014', 440641, 110642, 105282],
 ['Seattle city, Washington', '2014', 637850, 145223, 166204],
 ['Orlando city, Florida', '2014', 250224, 56198, 59548],
 ['New York city, New York', '2014', 8354889, 1604690, 1865622],
 ['Carson city, California', '2014', 92475, 17112, 17484],
 ['Newark city, New Jersey', '2014', 278750, 56958, 63443],
 ['Portland city, Oregon', '2014', 602568, 112798, 159005],
 ['Minneapolis city, Minnesota', '2014', 394424, 103429, 90369],
 ['San Jose city, California', '2014', 986320, 166888, 227950],
 ['Kansas City city, Kansas', '2014', 147598, 25190, 29651],
 ['Foxborough CDP, Massachusetts', '2014', 5013, 831, 959],
 ['Sandy city, Utah', '2014', 89521, 14025, 17481],
 ['Washington city, District of Columbia', '2014', 633736, 158592, 151701],
 ['Houston city, Texas', '2014', 2167988, 432890, 489483],
 ['Bridgeview village, Illinois', '2014', 16550, 2287, 3117],
 ['Chester city, Pennsylvania', '2014', 34007, 8341, 5505],
 ['Columbus city, Ohio', '2014', 811943, 190812, 181294],
 ['Commerce City city, Colorado', '2014', 48792, 7181, 12457],
 ['Frisco city, Texas', '2014', 130499, 13037, 38534],
 ['Atlanta city, Georgia', '2015', 448901, 111802, 107468],
 ['Seattle city, Washington', '2015', 653017, 149377, 170269],
 ['Orlando city, Florida', '2015', 256738, 56975, 60962],
 ['New York city, New York', '2015', 8426743, 1606499, 1883335],
 ['Carson city, California', '2015', 92691, 16995, 17106],
 ['Newark city, New Jersey', '2015', 279793, 56603, 62989],
 ['Portland city, Oregon', '2015', 612206, 112748, 163213],
 ['Minneapolis city, Minnesota', '2015', 399950, 103064, 93424],
 ['San Jose city, California', '2015', 1000860, 168669, 228947],
 ['Kansas City city, Kansas', '2015', 148855, 25217, 29975],
 ['Foxborough CDP, Massachusetts', '2015', 5326, 663, 886],
 ['Sandy city, Utah', '2015', 91533, 14160, 17980],
 ['Washington city, District of Columbia', '2015', 647484, 159435, 158210],
 ['Houston city, Texas', '2015', 2217706, 439437, 503593],
 ['Bridgeview village, Illinois', '2015', 16359, 2268, 3134],
 ['Chester city, Pennsylvania', '2015', 34016, 8460, 5574],
 ['Columbus city, Ohio', '2015', 824663, 193936, 184073],
 ['Commerce City city, Colorado', '2015', 50346, 7190, 12612],
 ['Frisco city, Texas', '2015', 137797, 13905, 39209],
 ['Atlanta city, Georgia', '2016', 456378, 111563, 109761],
 ['Seattle city, Washington', '2016', 668849, 153546, 174781],
 ['Orlando city, Florida', '2016', 263306, 57282, 64564],
 ['New York city, New York', '2016', 8461961, 1598367, 1890517],
 ['Carson city, California', '2016', 92780, 16827, 17290],
 ['Newark city, New Jersey', '2016', 280139, 56080, 62773],
 ['Portland city, Oregon', '2016', 620589, 112933, 165930],
 ['Minneapolis city, Minnesota', '2016', 404670, 105223, 94989],
 ['San Jose city, California', '2016', 1009363, 171082, 228996],
 ['Kansas City city, Kansas', '2016', 149755, 25039, 30355],
 ['Foxborough CDP, Massachusetts', '2016', 5491, 615, 1010],
 ['Sandy city, Utah', '2016', 93141, 14245, 18487],
 ['Washington city, District of Columbia', '2016', 659009, 159451, 163879],
 ['Houston city, Texas', '2016', 2240582, 442457, 508738],
 ['Bridgeview village, Illinois', '2016', 16381, 2275, 3307],
 ['Chester city, Pennsylvania', '2016', 34056, 8459, 5488],
 ['Columbus city, Ohio', '2016', 837038, 195925, 186045],
 ['Commerce City city, Colorado', '2016', 51731, 7365, 12990],
 ['Frisco city, Texas', '2016', 145646, 13487, 40450]]

In [57]:
# Iterative loop to convert values in the income 2016 list to integers

income_combine = []

for num in range(95):
    
    city = income_by_year[num][0]
    pop = int(income_by_year[num][1])
    tot2 = int(income_by_year[num][2])
    tot3 = int(income_by_year[num][3])
    tot4 = int(income_by_year[num][4])
    tot5 = int(income_by_year[num][5])
    tot6 = int(income_by_year[num][6])
    tot7 = int(income_by_year[num][7])
    tot8 = int(income_by_year[num][8])
    year = income_by_year[num][11]
    
    income_combine.append([city,year,pop,tot2,tot3,tot4,tot5,tot6,tot7,tot8])
    
income_combine

[['Atlanta city, Georgia',
  '2012',
  82411,
  3927,
  5767,
  8848,
  8415,
  12978,
  9297,
  33179],
 ['Seattle city, Washington',
  '2012',
  135156,
  3116,
  4740,
  9032,
  10904,
  21507,
  19591,
  66266],
 ['Orlando city, Florida',
  '2012',
  39155,
  1592,
  3130,
  5172,
  5452,
  8160,
  4956,
  10693],
 ['New York city, New York',
  '2012',
  990609,
  32020,
  55634,
  99465,
  94989,
  159436,
  137947,
  411118],
 ['Carson city, California',
  '2012',
  18831,
  436,
  975,
  1756,
  1990,
  3318,
  3627,
  6729],
 ['Newark city, New Jersey',
  '2012',
  21652,
  851,
  1690,
  2796,
  2643,
  4780,
  3071,
  5821],
 ['Portland city, Oregon',
  '2012',
  133777,
  3948,
  7286,
  13251,
  15980,
  26782,
  20941,
  45589],
 ['Minneapolis city, Minnesota',
  '2012',
  83163,
  2419,
  4179,
  8173,
  9708,
  16267,
  13284,
  29133],
 ['San Jose city, California',
  '2012',
  178328,
  3451,
  5992,
  10920,
  13542,
  24284,
  23536,
  96603],
 ['Kansas City city, Kansas',
  '2012',
  32123,
  1880,
  2936,
  5906,
  5109,
  7287,
  4232,
  4773],
 ['Foxborough CDP, Massachusetts',
  '2012',
  1091,
  14,
  46,
  131,
  83,
  247,
  120,
  450],
 ['Sandy city, Utah', '2012', 22811, 485, 802, 1725, 2098, 4476, 4125, 9100],
 ['Washington city, District of Columbia',
  '2012',
  110853,
  3516,
  4260,
  7027,
  9060,
  14963,
  13128,
  58899],
 ['Houston city, Texas',
  '2012',
  355220,
  14801,
  28165,
  46273,
  45201,
  62002,
  45861,
  112917],
 ['Bridgeview village, Illinois',
  '2012',
  4026,
  193,
  358,
  577,
  553,
  972,
  603,
  770],
 ['Chester city, Pennsylvania',
  '2012',
  4594,
  375,
  513,
  949,
  858,
  898,
  474,
  527],
 ['Columbus city, Ohio',
  '2012',
  154295,
  4858,
  9415,
  18948,
  22896,
  34642,
  26119,
  37417],
 ['Commerce City city, Colorado',
  '2012',
  10288,
  84,
  456,
  990,
  1181,
  2347,
  2324,
  2906],
 ['Frisco city, Texas',
  '2012',
  30680,
  373,
  422,
  1201,
  1815,
  2845,
  4231,
  19793],
 ['Atlanta city, Georgia',
  '2013',
  81539,
  4148,
  5676,
  8552,
  7963,
  12499,
  9634,
  33067],
 ['Seattle city, Washington',
  '2013',
  134924,
  2809,
  4693,
  9280,
  10801,
  20526,
  19015,
  67800],
 ['Orlando city, Florida',
  '2013',
  39341,
  1512,
  3384,
  5114,
  5203,
  8223,
  4763,
  11142],
 ['New York city, New York',
  '2013',
  989708,
  33073,
  54983,
  97622,
  95105,
  155734,
  135543,
  417648],
 ['Carson city, California',
  '2013',
  18916,
  461,
  1043,
  1649,
  2003,
  3288,
  3685,
  6787],
 ['Newark city, New Jersey',
  '2013',
  21002,
  787,
  1479,
  2958,
  2682,
  4400,
  3015,
  5681],
 ['Portland city, Oregon',
  '2013',
  133467,
  3874,
  7020,
  12811,
  15783,
  25447,
  21215,
  47317],
 ['Minneapolis city, Minnesota',
  '2013',
  81456,
  2160,
  4054,
  7881,
  9589,
  14927,
  13340,
  29505],
 ['San Jose city, California',
  '2013',
  177997,
  3612,
  6332,
  10954,
  13202,
  23510,
  23459,
  96928],
 ['Kansas City city, Kansas',
  '2013',
  31529,
  1757,
  2806,
  5881,
  5138,
  7158,
  4285,
  4504],
 ['Foxborough CDP, Massachusetts',
  '2013',
  1014,
  12,
  63,
  104,
  66,
  249,
  144,
  376],
 ['Sandy city, Utah', '2013', 22540, 361, 806, 1783, 2035, 4478, 3950, 9127],
 ['Washington city, District of Columbia',
  '2013',
  111070,
  3695,
  4110,
  7153,
  8184,
  15027,
  12916,
  59985],
 ['Houston city, Texas',
  '2013',
  354667,
  15012,
  28470,
  46735,
  43814,
  60594,
  44595,
  115447],
 ['Bridgeview village, Illinois',
  '2013',
  3974,
  155,
  325,
  507,
  560,
  1022,
  706,
  699],
 ['Chester city, Pennsylvania',
  '2013',
  4546,
  398,
  501,
  861,
  784,
  980,
  446,
  576],
 ['Columbus city, Ohio',
  '2013',
  152857,
  5032,
  9408,
  19478,
  22001,
  33162,
  24997,
  38779],
 ['Commerce City city, Colorado',
  '2013',
  10616,
  99,
  454,
  976,
  1182,
  2462,
  2424,
  3019],
 ['Frisco city, Texas',
  '2013',
  31394,
  368,
  493,
  1314,
  1728,
  3036,
  3886,
  20569],
 ['Atlanta city, Georgia',
  '2014',
  80124,
  3881,
  5278,
  8616,
  8233,
  12201,
  9098,
  32817],
 ['Seattle city, Washington',
  '2014',
  134357,
  3034,
  4400,
  8654,
  10796,
  19392,
  18161,
  69920],
 ['Orlando city, Florida',
  '2014',
  38366,
  1753,
  3284,
  5287,
  4706,
  7761,
  4922,
  10653],
 ['New York city, New York',
  '2014',
  988803,
  34299,
  54428,
  94100,
  94389,
  154043,
  134593,
  422951],
 ['Carson city, California',
  '2014',
  18478,
  490,
  1121,
  1697,
  1845,
  3333,
  3080,
  6912],
 ['Newark city, New Jersey',
  '2014',
  20420,
  823,
  1361,
  2813,
  2653,
  4318,
  3040,
  5412],
 ['Portland city, Oregon',
  '2014',
  133065,
  4084,
  6840,
  12627,
  15955,
  24560,
  20593,
  48406],
 ['Minneapolis city, Minnesota',
  '2014',
  81122,
  1979,
  3860,
  7779,
  9524,
  14327,
  12846,
  30807],
 ['San Jose city, California',
  '2014',
  178348,
  3353,
  6025,
  11437,
  12698,
  23096,
  22095,
  99644],
 ['Kansas City city, Kansas',
  '2014',
  31487,
  1771,
  2897,
  5616,
  5131,
  7057,
  4273,
  4742],
 ['Foxborough CDP, Massachusetts',
  '2014',
  1002,
  12,
  50,
  77,
  55,
  217,
  166,
  425],
 ['Sandy city, Utah', '2014', 21929, 350, 720, 1698, 1887, 4338, 3649, 9287],
 ['Washington city, District of Columbia',
  '2014',
  111198,
  3833,
  4096,
  6698,
  7839,
  14531,
  12661,
  61540],
 ['Houston city, Texas',
  '2014',
  353069,
  15032,
  27290,
  45064,
  42809,
  60546,
  43581,
  118747],
 ['Bridgeview village, Illinois',
  '2014',
  3977,
  127,
  353,
  611,
  533,
  1016,
  634,
  703],
 ['Chester city, Pennsylvania',
  '2014',
  4796,
  465,
  508,
  947,
  839,
  1119,
  461,
  457],
 ['Columbus city, Ohio',
  '2014',
  151621,
  4811,
  8830,
  18329,
  21791,
  32749,
  24646,
  40465],
 ['Commerce City city, Colorado',
  '2014',
  10482,
  100,
  572,
  889,
  1066,
  2365,
  2251,
  3239],
 ['Frisco city, Texas',
  '2014',
  32546,
  286,
  522,
  1165,
  1924,
  2943,
  3416,
  22290],
 ['Atlanta city, Georgia',
  '2015',
  80984,
  3733,
  5073,
  8697,
  8240,
  12328,
  9102,
  33811],
 ['Seattle city, Washington',
  '2015',
  136823,
  3147,
  4418,
  8848,
  10580,
  18859,
  17777,
  73194],
 ['Orlando city, Florida',
  '2015',
  38158,
  2043,
  3223,
  5185,
  4506,
  7577,
  4899,
  10725],
 ['New York city, New York',
  '2015',
  991350,
  34816,
  54904,
  93538,
  91764,
  153705,
  134011,
  428612],
 ['Carson city, California',
  '2015',
  19110,
  467,
  983,
  1942,
  1839,
  3458,
  3206,
  7215],
 ['Newark city, New Jersey',
  '2015',
  20086,
  736,
  1367,
  2779,
  2783,
  4168,
  3021,
  5232],
 ['Portland city, Oregon',
  '2015',
  134535,
  4317,
  6958,
  12410,
  15522,
  24106,
  21128,
  50094],
 ['Minneapolis city, Minnesota',
  '2015',
  80921,
  2135,
  3671,
  7794,
  8976,
  14433,
  12349,
  31563],
 ['San Jose city, California',
  '2015',
  179809,
  3500,
  6110,
  11470,
  12842,
  23055,
  21607,
  101225],
 ['Kansas City city, Kansas',
  '2015',
  31602,
  1630,
  2915,
  5857,
  5361,
  6938,
  4199,
  4702],
 ['Foxborough CDP, Massachusetts', '2015', 969, 0, 45, 50, 76, 239, 170, 389],
 ['Sandy city, Utah', '2015', 22284, 303, 624, 1554, 1928, 4634, 3758, 9483],
 ['Washington city, District of Columbia',
  '2015',
  112750,
  3517,
  3906,
  6799,
  7665,
  14091,
  12917,
  63855],
 ['Houston city, Texas',
  '2015',
  355867,
  14896,
  26508,
  44350,
  41850,
  60751,
  43827,
  123685],
 ['Bridgeview village, Illinois',
  '2015',
  4017,
  107,
  344,
  651,
  556,
  1032,
  635,
  692],
 ['Chester city, Pennsylvania',
  '2015',
  4459,
  416,
  489,
  905,
  799,
  1040,
  389,
  421],
 ['Columbus city, Ohio',
  '2015',
  151961,
  4845,
  8569,
  18112,
  22086,
  32630,
  24551,
  41168],
 ['Commerce City city, Colorado',
  '2015',
  10455,
  139,
  452,
  887,
  1232,
  2128,
  2214,
  3403],
 ['Frisco city, Texas',
  '2015',
  34039,
  346,
  457,
  1177,
  1852,
  2862,
  3821,
  23524],
 ['Atlanta city, Georgia',
  '2016',
  81417,
  3349,
  5046,
  8118,
  8149,
  12465,
  8653,
  35637],
 ['Seattle city, Washington',
  '2016',
  140436,
  3436,
  4381,
  8490,
  10041,
  18831,
  17223,
  78034],
 ['Orlando city, Florida',
  '2016',
  38542,
  1965,
  3087,
  4812,
  4629,
  7311,
  4977,
  11761],
 ['New York city, New York',
  '2016',
  1000242,
  35762,
  52923,
  92109,
  90589,
  152194,
  132604,
  444061],
 ['Carson city, California',
  '2016',
  18979,
  451,
  934,
  1820,
  1876,
  3413,
  3067,
  7418],
 ['Newark city, New Jersey',
  '2016',
  20502,
  823,
  1481,
  2628,
  2832,
  4061,
  3221,
  5456],
 ['Portland city, Oregon',
  '2016',
  136114,
  4132,
  6404,
  11586,
  14229,
  23719,
  21121,
  54923],
 ['Minneapolis city, Minnesota',
  '2016',
  80520,
  2291,
  3638,
  7678,
  8240,
  13799,
  12213,
  32661],
 ['San Jose city, California',
  '2016',
  181122,
  3623,
  5836,
  10736,
  12344,
  21927,
  20422,
  106234],
 ['Kansas City city, Kansas',
  '2016',
  30796,
  1443,
  2705,
  5612,
  5225,
  6530,
  4210,
  5071],
 ['Foxborough CDP, Massachusetts', '2016', 990, 0, 36, 64, 109, 206, 166, 409],
 ['Sandy city, Utah', '2016', 23020, 354, 591, 1422, 1876, 4360, 3737, 10680],
 ['Washington city, District of Columbia',
  '2016',
  112672,
  3783,
  3892,
  6207,
  7126,
  13328,
  12490,
  65846],
 ['Houston city, Texas',
  '2016',
  359118,
  14266,
  26017,
  43692,
  41572,
  61233,
  43856,
  128482],
 ['Bridgeview village, Illinois',
  '2016',
  4009,
  158,
  316,
  657,
  540,
  967,
  588,
  783],
 ['Chester city, Pennsylvania',
  '2016',
  4331,
  399,
  504,
  854,
  793,
  914,
  464,
  403],
 ['Columbus city, Ohio',
  '2016',
  152966,
  4736,
  8299,
  17339,
  21147,
  32882,
  25409,
  43154],
 ['Commerce City city, Colorado',
  '2016',
  10544,
  143,
  506,
  702,
  1213,
  2374,
  2183,
  3423],
 ['Frisco city, Texas',
  '2016',
  36385,
  517,
  500,
  1113,
  1734,
  3096,
  3936,
  25489]]

In [51]:
# Creating pandas DataFrames for each data list, starting with age

age_df = pd.DataFrame(age_combine)

# Rename columns for reference

age_df.columns=["City & State","Year","Total Population","Age 18 to 29","Age 30 to 44"]

# Save DataFrame

age_df.to_csv("Output/Age_Data.csv")

# Display the DataFrame

age_df

,City & State,Year,Total Population,Age 18 to 29,Age 30 to 44
0,"Atlanta city, Georgia",2012,425931,107143,101845
1,"Seattle city, Washington",2012,612916,141245,157786
2,"Orlando city, Florida",2012,240185,57870,56140
3,"New York city, New York",2012,8199221,1593289,1828653
4,"Carson city, California",2012,91937,16448,18000
5,"Newark city, New Jersey",2012,276478,56131,64131
6,"Portland city, Oregon",2012,585888,113642,150432
7,"Minneapolis city, Minnesota",2012,385023,101775,88109
8,"San Jose city, California",2012,954379,163311,224103
9,"Kansas City city, Kansas",2012,145605,25380,28695
10,"Foxborough CDP, Massachusetts",2012,5524,954,1292
11,"Sandy city, Utah",2012,87952,13687,17071
12,"Washington city, District of Columbia",2012,605759,153569,138705
13,"Houston city, Texas",2012,2107449,423559,472953
14,"Bridgeview village, Illinois",2012,16394,2585,2976
15,"Chester city, Pennsylvania",2012,34127,7910,5555
16,"Columbus city, Ohio",2012,790168,189330,175547
17,"Commerce City city, Colorado",2012,45537,7760,11543
18,"Frisco city, Texas",2012,116944,12087,36428
19,"Atlanta city, Georgia",2013,432589,108859,103717
20,"Seattle city, Washington",2013,624681,142433,161333
21,"Orlando city, Florida",2013,244931,57084,57224
22,"New York city, New York",2013,8268999,1598046,1844133
23,"Carson city, California",2013,91994,16791,17196
24,"Newark city, New Jersey",2013,277357,56513,63469
25,"Portland city, Oregon",2013,594687,113033,155690
26,"Minneapolis city, Minnesota",2013,389112,102083,89127
27,"San Jose city, California",2013,968903,165374,224937
28,"Kansas City city, Kansas",2013,146581,25249,29116
29,"Foxborough CDP, Massachusetts",2013,5233,1006,1023
...,...,...,...,...,...
65,"San Jose city, California",2015,1000860,168669,228947
66,"Kansas City city, Kansas",2015,148855,25217,29975
67,"Foxborough CDP, Massachusetts",2015,5326,663,886
68,"Sandy city, Utah",2015,91533,14160,17980
69,"Washington city, District of Columbia",2015,647484,159435,158210
70,"Houston city, Texas",2015,2217706,439437,503593
71,"Bridgeview village, Illinois",2015,16359,2268,3134
72,"Chester city, Pennsylvania",2015,34016,8460,5574
73,"Columbus city, Ohio",2015,824663,193936,184073
74,"Commerce City city, Colorado",2015,50346,7190,12612
75,"Frisco city, Texas",2015,137797,13905,39209
76,"Atlanta city, Georgia",2016,456378,111563,109761
77,"Seattle city, Washington",2016,668849,153546,174781
78,"Orlando city, Florida",2016,263306,57282,64564
79,"New York city, New York",2016,8461961,1598367,1890517
80,"Carson city, California",2016,92780,16827,17290
81,"Newark city, New Jersey",2016,280139,56080,62773
82,"Portland city, Oregon",2016,620589,112933,165930
83,"Minneapolis city, Minnesota",2016,404670,105223,94989
84,"San Jose city, California",2016,1009363,171082,228996
85,"Kansas City city, Kansas",2016,149755,25039,30355
86,"Foxborough CDP, Massachusetts",2016,5491,615,1010
87,"Sandy city, Utah",2016,93141,14245,18487
88,"Washington city, District of Columbia",2016,659009,159451,163879
89,"Houston city, Texas",2016,2240582,442457,508738
90,"Bridgeview village, Illinois",2016,16381,2275,3307
91,"Chester city, Pennsylvania",2016,34056,8459,5488
92,"Columbus city, Ohio",2016,837038,195925,186045
93,"Commerce City city, Colorado",2016,51731,7365,12990
94,"Frisco city, Texas",2016,145646,13487,40450

In [ ]:
# Create new dataframe using previous dataframe to hold percentile values

In [56]:
# DataFrame for ethnicity

ethnicity_df = pd.DataFrame(ethnicity_by_year)

# Rename columns

ethnicity_df.columns=["City & State","Total Population","White","Black/Afro-American","Latino","Asian","State Code","City Code","Year"]

# Remove extraneous columns

ethnicity_df = ethnicity_df.loc[:, ["City & State","Year","Total Population","White","Black/Afro-American","Latino","Asian"]]

# Save DataFrame

ethnicity_df.to_csv("Output/Ethnicity_Data.csv")

# Display the DataFrame

ethnicity_df

,City & State,Year,Total Population,White,Black/Afro-American,Latino,Asian
0,"Atlanta city, Georgia",2012,425931,166054,229317,22929,14160
1,"Seattle city, Washington",2012,612916,432714,47887,37880,85935
2,"Orlando city, Florida",2012,240185,139251,69373,61886,7873
3,"New York city, New York",2012,8199221,3646181,2059279,2343458,1053649
4,"Carson city, California",2012,91937,29620,17968,36340,23769
5,"Newark city, New Jersey",2012,276478,76275,143713,91931,4508
6,"Portland city, Oregon",2012,585888,454159,37922,54420,42426
7,"Minneapolis city, Minnesota",2012,385023,263089,67461,38156,21153
8,"San Jose city, California",2012,954379,448526,29674,315241,310783
9,"Kansas City city, Kansas",2012,145605,86500,39568,40187,4067
10,"Foxborough CDP, Massachusetts",2012,5524,5030,181,184,294
11,"Sandy city, Utah",2012,87952,80636,628,6065,2805
12,"Washington city, District of Columbia",2012,605759,239413,309263,56259,21440
13,"Houston city, Texas",2012,2107449,1207589,497340,917133,129460
14,"Bridgeview village, Illinois",2012,16394,13808,518,2758,1052
15,"Chester city, Pennsylvania",2012,34127,6186,25979,2803,188
16,"Columbus city, Ohio",2012,790168,494579,218501,42993,33497
17,"Commerce City city, Colorado",2012,45537,33767,1543,21300,1120
18,"Frisco city, Texas",2012,116944,89910,8731,14812,10887
19,"Atlanta city, Georgia",2013,432589,170176,231628,23089,15674
20,"Seattle city, Washington",2013,624681,440866,46310,40110,87953
21,"Orlando city, Florida",2013,244931,144381,70080,63918,8455
22,"New York city, New York",2013,8268999,3659155,2057226,2371116,1077554
23,"Carson city, California",2013,91994,28783,18605,36472,23974
24,"Newark city, New Jersey",2013,277357,71756,143381,94480,4089
25,"Portland city, Oregon",2013,594687,460202,37225,56058,44552
26,"Minneapolis city, Minnesota",2013,389112,260528,67991,38887,23045
27,"San Jose city, California",2013,968903,445070,30401,321550,317821
28,"Kansas City city, Kansas",2013,146581,87741,39139,41124,4420
29,"Foxborough CDP, Massachusetts",2013,5233,4731,206,212,272
...,...,...,...,...,...,...,...
65,"San Jose city, California",2015,1000860,439009,30379,329648,337966
66,"Kansas City city, Kansas",2015,148855,88772,38065,42774,5481
67,"Foxborough CDP, Massachusetts",2015,5326,4975,107,267,241
68,"Sandy city, Utah",2015,91533,82187,551,7219,2791
69,"Washington city, District of Columbia",2015,647484,260325,316447,65803,23822
70,"Houston city, Texas",2015,2217706,1290888,511729,972785,142260
71,"Bridgeview village, Illinois",2015,16359,14147,347,2737,739
72,"Chester city, Pennsylvania",2015,34016,6674,24707,3940,214
73,"Columbus city, Ohio",2015,824663,507217,229012,47007,37987
74,"Commerce City city, Colorado",2015,50346,41812,2168,22955,957
75,"Frisco city, Texas",2015,137797,99705,9876,17361,18937
76,"Atlanta city, Georgia",2016,456378,182794,239005,21838,18235
77,"Seattle city, Washington",2016,668849,462673,47493,43868,94619
78,"Orlando city, Florida",2016,263306,160607,69572,77009,10109
79,"New York city, New York",2016,8461961,3644982,2064927,2457945,1159883
80,"Carson city, California",2016,92780,27282,19830,37011,23963
81,"Newark city, New Jersey",2016,280139,68226,140750,100950,4914
82,"Portland city, Oregon",2016,620589,482410,35465,60040,47045
83,"Minneapolis city, Minnesota",2016,404670,262130,76070,38832,23911
84,"San Jose city, California",2016,1009363,425883,31096,329135,344188
85,"Kansas City city, Kansas",2016,149755,88953,37530,43727,5786
86,"Foxborough CDP, Massachusetts",2016,5491,4975,400,225,114
87,"Sandy city, Utah",2016,93141,83923,609,8021,2949
88,"Washington city, District of Columbia",2016,659009,266035,318598,69106,24036
89,"Houston city, Texas",2016,2240582,1305482,511398,992886,149265
90,"Bridgeview village, Illinois",2016,16381,14061,647,2783,849
91,"Chester city, Pennsylvania",2016,34056,6864,24268,4056,200
92,"Columbus city, Ohio",2016,837038,511628,234021,48331,41204
93,"Commerce City city, Colorado",2016,51731,43617,1640,23598,992
94,"Frisco city, Texas",2016,145646,103681,11025,17324,22140

In [58]:
# DataFrame for Income Level

income_df = pd.DataFrame(income_combine)

# Rename the columns

income_df.columns=["City & State","Year","Total Households","Less Than 10k","10k to 19k","20k to 34k","35k to 49k",\
                  "50k to 74k","75k to 99k","100k or More"]

# Save DataFrame

income_df.to_csv("Output/Income_Data.csv")

# Display the DataFrame

income_df

,City & State,Year,Total Households,Less Than 10k,10k to 19k,20k to 34k,35k to 49k,50k to 74k,75k to 99k,100k or More
0,"Atlanta city, Georgia",2012,82411,3927,5767,8848,8415,12978,9297,33179
1,"Seattle city, Washington",2012,135156,3116,4740,9032,10904,21507,19591,66266
2,"Orlando city, Florida",2012,39155,1592,3130,5172,5452,8160,4956,10693
3,"New York city, New York",2012,990609,32020,55634,99465,94989,159436,137947,411118
4,"Carson city, California",2012,18831,436,975,1756,1990,3318,3627,6729
5,"Newark city, New Jersey",2012,21652,851,1690,2796,2643,4780,3071,5821
6,"Portland city, Oregon",2012,133777,3948,7286,13251,15980,26782,20941,45589
7,"Minneapolis city, Minnesota",2012,83163,2419,4179,8173,9708,16267,13284,29133
8,"San Jose city, California",2012,178328,3451,5992,10920,13542,24284,23536,96603
9,"Kansas City city, Kansas",2012,32123,1880,2936,5906,5109,7287,4232,4773
10,"Foxborough CDP, Massachusetts",2012,1091,14,46,131,83,247,120,450
11,"Sandy city, Utah",2012,22811,485,802,1725,2098,4476,4125,9100
12,"Washington city, District of Columbia",2012,110853,3516,4260,7027,9060,14963,13128,58899
13,"Houston city, Texas",2012,355220,14801,28165,46273,45201,62002,45861,112917
14,"Bridgeview village, Illinois",2012,4026,193,358,577,553,972,603,770
15,"Chester city, Pennsylvania",2012,4594,375,513,949,858,898,474,527
16,"Columbus city, Ohio",2012,154295,4858,9415,18948,22896,34642,26119,37417
17,"Commerce City city, Colorado",2012,10288,84,456,990,1181,2347,2324,2906
18,"Frisco city, Texas",2012,30680,373,422,1201,1815,2845,4231,19793
19,"Atlanta city, Georgia",2013,81539,4148,5676,8552,7963,12499,9634,33067
20,"Seattle city, Washington",2013,134924,2809,4693,9280,10801,20526,19015,67800
21,"Orlando city, Florida",2013,39341,1512,3384,5114,5203,8223,4763,11142
22,"New York city, New York",2013,989708,33073,54983,97622,95105,155734,135543,417648
23,"Carson city, California",2013,18916,461,1043,1649,2003,3288,3685,6787
24,"Newark city, New Jersey",2013,21002,787,1479,2958,2682,4400,3015,5681
25,"Portland city, Oregon",2013,133467,3874,7020,12811,15783,25447,21215,47317
26,"Minneapolis city, Minnesota",2013,81456,2160,4054,7881,9589,14927,13340,29505
27,"San Jose city, California",2013,177997,3612,6332,10954,13202,23510,23459,96928
28,"Kansas City city, Kansas",2013,31529,1757,2806,5881,5138,7158,4285,4504
29,"Foxborough CDP, Massachusetts",2013,1014,12,63,104,66,249,144,376
...,...,...,...,...,...,...,...,...,...,...
65,"San Jose city, California",2015,179809,3500,6110,11470,12842,23055,21607,101225
66,"Kansas City city, Kansas",2015,31602,1630,2915,5857,5361,6938,4199,4702
67,"Foxborough CDP, Massachusetts",2015,969,0,45,50,76,239,170,389
68,"Sandy city, Utah",2015,22284,303,624,1554,1928,4634,3758,9483
69,"Washington city, District of Columbia",2015,112750,3517,3906,6799,7665,14091,12917,63855
70,"Houston city, Texas",2015,355867,14896,26508,44350,41850,60751,43827,123685
71,"Bridgeview village, Illinois",2015,4017,107,344,651,556,1032,635,692
72,"Chester city, Pennsylvania",2015,4459,416,489,905,799,1040,389,421
73,"Columbus city, Ohio",2015,151961,4845,8569,18112,22086,32630,24551,41168
74,"Commerce City city, Colorado",2015,10455,139,452,887,1232,2128,2214,3403
75,"Frisco city, Texas",2015,34039,346,457,1177,1852,2862,3821,23524
76,"Atlanta city, Georgia",2016,81417,3349,5046,8118,8149,12465,8653,35637
77,"Seattle city, Washington",2016,140436,3436,4381,8490,10041,18831,17223,78034
78,"Orlando city, Florida",2016,38542,1965,3087,4812,4629,7311,4977,11761
79,"New York city, New York",2016,1000242,35762,52923,92109,90589,152194,132604,444061
80,"Carson city, California",2016,18979,451,934,1820,1876,3413,3067,7418
81,"Newark city, New Jersey",2016,20502,823,1481,2628,2832,4061,3221,5456
82,"Portland city, Oregon",2016,136114,4132,6404,11586,14229,23719,21121,54923
83,"Minneapolis city, Minnesota",2016,80520,2291,3638,7678,8240,13799,12213,32661
84,"San Jose city, California",2016,181122,3623,5836,10736,12344,21927,20422,106234
85,"Kansas City city, Kansas",2016,30796,1443,2705,5612,5225,6530,4210,5071
86,"Foxborough CDP, Massachusetts",2016,990,0,36,64,109,206,166,409
87,"Sandy city, Utah",2016,23020,354,591,1422,1876,4360,3737,10680
88,"Washington city, District of Columbia",2016,112672,3783,3892,6207,7126,13328,12490,65846
89,"Houston city, Texas",2016,359118,14266,26017,43692,41572,61233,43856,128482
90,"Bridgeview village, Illinois",2016,4009,158,316,657,540,967,588,783
91,"Chester city, Pennsylvania",2016,4331,399,504,854,793,914,464,403
92,"Columbus city, Ohio",2016,152966,4736,8299,17339,21147,32882,25409,43154
93,"Commerce City city, Colorado",2016,10544,143,506,702,1213,2374,2183,3423
94,"Frisco city, Texas",2016,36385,517,500,1113,1734,3096,3936,25489

In [55]:
# DataFrame for Education Level

edu_df = pd.DataFrame(edu_by_year)

# Rename the columns

edu_df.columns=["City & State","Edu Total Pop","Less Than High School Grad","High School Grad","Some College or Associates",\
               "Bachelor's Degree or Higher","State Code","City Code","Year"]

# Remove extraneous columns

edu_df = edu_df.loc[:, ["City & State","Year","Edu Total Pop","Less Than High School Grad","High School Grad","Some College or Associates",\
               "Bachelor's Degree or Higher"]]

# Save DataFrame

edu_df.to_csv("Output/Edu_Data.csv")

# Display the dataframe

edu_df

,City & State,Year,Edu Total Pop,Less Than High School Grad,High School Grad,Some College or Associates,Bachelor's Degree or Higher
0,"Atlanta city, Georgia",2012,240515,25188,47446,50395,117486
1,"Seattle city, Washington",2012,379354,21675,39284,93888,224507
2,"Orlando city, Florida",2012,136311,14059,34168,42055,46029
3,"New York city, New York",2012,4565255,810354,1067343,1015411,1672147
4,"Carson city, California",2012,48161,8142,10830,17185,12004
5,"Newark city, New Jersey",2012,149541,40128,53380,36402,19631
6,"Portland city, Oregon",2012,355659,31090,58526,105895,160148
7,"Minneapolis city, Minnesota",2012,219340,24032,34830,55916,104562
8,"San Jose city, California",2012,530213,82858,94340,146017,206998
9,"Kansas City city, Kansas",2012,74709,15471,25025,22402,11811
10,"Foxborough CDP, Massachusetts",2012,2980,232,585,1184,979
11,"Sandy city, Utah",2012,46582,1793,9482,17516,17791
12,"Washington city, District of Columbia",2012,348387,36627,63355,60221,188184
13,"Houston city, Texas",2012,1144703,283579,254129,274906,332089
14,"Bridgeview village, Illinois",2012,8432,1588,3025,2506,1313
15,"Chester city, Pennsylvania",2012,16183,2927,7514,4095,1647
16,"Columbus city, Ohio",2012,431747,44344,106822,130970,149611
17,"Commerce City city, Colorado",2012,24209,5266,6305,7315,5323
18,"Frisco city, Texas",2012,65716,2283,5950,17717,39766
19,"Atlanta city, Georgia",2013,244392,24703,47313,52521,119855
20,"Seattle city, Washington",2013,386735,21944,39890,93265,231636
21,"Orlando city, Florida",2013,139921,13750,34303,43769,48099
22,"New York city, New York",2013,4617506,804153,1076772,1025146,1711435
23,"Carson city, California",2013,48195,8331,10465,17351,12048
24,"Newark city, New Jersey",2013,150578,39243,54418,36404,20513
25,"Portland city, Oregon",2013,363089,31432,58846,107508,165303
26,"Minneapolis city, Minnesota",2013,222253,23961,35422,56719,106151
27,"San Jose city, California",2013,539274,85966,95392,147009,210907
28,"Kansas City city, Kansas",2013,75296,16275,24041,23014,11966
29,"Foxborough CDP, Massachusetts",2013,2792,157,510,1191,934
...,...,...,...,...,...,...,...
65,"San Jose city, California",2015,558751,87280,96819,147914,226738
66,"Kansas City city, Kansas",2015,76364,16457,23964,23567,12376
67,"Foxborough CDP, Massachusetts",2015,2715,266,364,1003,1082
68,"Sandy city, Utah",2015,47672,1815,8683,17946,19228
69,"Washington city, District of Columbia",2015,380653,34405,64388,62861,218999
70,"Houston city, Texas",2015,1208814,277346,272587,290223,368658
71,"Bridgeview village, Illinois",2015,8637,1603,3255,2357,1422
72,"Chester city, Pennsylvania",2015,16274,2896,7530,4116,1732
73,"Columbus city, Ohio",2015,458592,47906,110614,135371,164701
74,"Commerce City city, Colorado",2015,26379,4722,7765,8108,5784
75,"Frisco city, Texas",2015,75119,2588,7578,19112,45841
76,"Atlanta city, Georgia",2016,258046,23374,46860,57206,130606
77,"Seattle city, Washington",2016,413133,21214,38922,93974,259023
78,"Orlando city, Florida",2016,153051,13306,35951,47965,55829
79,"New York city, New York",2016,4752442,778896,1092575,1037451,1843520
80,"Carson city, California",2016,48771,8577,10814,16800,12580
81,"Newark city, New Jersey",2016,152531,36047,55367,38992,22125
82,"Portland city, Oregon",2016,381246,29657,56281,109969,185339
83,"Minneapolis city, Minnesota",2016,232168,23886,36065,58364,113853
84,"San Jose city, California",2016,564344,87769,94749,143961,237865
85,"Kansas City city, Kansas",2016,76939,17076,24198,22884,12781
86,"Foxborough CDP, Massachusetts",2016,2749,226,432,959,1132
87,"Sandy city, Utah",2016,49085,2227,8781,17880,20197
88,"Washington city, District of Columbia",2016,387831,33222,65727,62631,226251
89,"Houston city, Texas",2016,1221334,272136,277238,289811,382149
90,"Bridgeview village, Illinois",2016,8786,1403,3409,2455,1519
91,"Chester city, Pennsylvania",2016,16230,2918,7480,4142,1690
92,"Columbus city, Ohio",2016,466981,47842,112993,135673,170473
93,"Commerce City city, Colorado",2016,26715,4727,7621,8209,6158
94,"Frisco city, Texas",2016,80030,2811,7543,20353,49323